.pagination {
    display: flex;
	ul {
		margin: 2em auto;
		padding-left: 0;
		list-style-type: none;
	}
}
.page-number {
	display: inline;
	a {
		text-decoration: none;
		color: black;
	}
}
.pagination-3 {
	.page-number {
		margin: 0.25em;
		a {
			padding: 0.125em;
		}
	}
	.active {
		padding: 4px 8px;
		border-radius: 50%;
		background-color: #16425b;
		color: white;
		a {
			color: white;
		}
	}
}
