$dark-bg-txt: #22313f;
$light-text: #f6f6f6;
$grey-text: #a3a3a3;
$green-price: #5dac6e;
$red-color: #dc3545;

$default-font-family:'Montserrat', sans-serif;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 51.25em; // 900px
$bp-700: 43.75em; // 700px
$bp-small: 40.625em; // 600px
$bp-smallest: 31.25em; // 500px